
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .App {
    text-align: center;
    background:linear-gradient( rgba(255,0,0,0), rgb(145, 33, 33) );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container{
      border: 3px solid black;
  }
  .inputNum{
     width: 95%;
     padding: 1.2em;
     margin: 0.5em;
  }

  .btn{
      width: 50px;
      height: 50px;
      font-size: 2em;
      margin: 0.1em;
      cursor: pointer;
  }
